{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    
</head>
<body>
    <div class="container">
        <div class="section1">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="Submit" class="submit-btn">SEND</button>
            </form>
        </div>
        <div class="section2">
            <h3>TODO LIST </h3>
    <table>
        <thead>
            <tr>
                <th>Task Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.task_name }}</td>
                <td>{{ item.task_decription }}</td>
                <td>
                    <form action="POST" name="checkbox1">
                        {% comment %} <input type="checkbox" id="cb1{{item.cb_id}}"> {% endcomment %}
                        <input type="checkbox" id="cb{{ item.td_id }}" data-task-id="{{ item.td_id }}" class="checkbox">
                    </form>


                </td>
                <td>
                    <form action="{% url 'delete_item' item.td_id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn"><i class="ri-delete-bin-line"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>