*{
    margin: 0;
    padding: 0;
}


.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section1{
    margin: 10px;
}
.section2{
    margin: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}